body {
 font-family: 'Poppins', sans-serif;
 background: url("../images/background.png") no-repeat center center fixed;
 background-size: cover;
 margin: 0;
 color: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}

body::before {
 content: "";
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: rgba(0, 0, 0, 0.75);
 z-index: -1;
}

.main-wrapper {
 flex-grow: 1;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 60px 20px;
}

.glass-card {
 background: rgba(255, 255, 255, 0.05);
 backdrop-filter: blur(25px);
 -webkit-backdrop-filter: blur(25px);
 border: 1px solid rgba(255, 255, 255, 0.15);
 border-radius: 35px;
 width: 100%;
 max-width: 600px;
 padding: 15px 25px;
 box-shadow: 0 25px 50px rgba(0, 0, 0, 0.6);
 text-align: center;
 transition: transform 0.3s ease;
}

.glass-input {
 background: rgba(255, 255, 255, 0.08) !important;
 border: 1px solid rgba(255, 255, 255, 0.2) !important;
 color: white !important;
 border-radius: 15px;
 padding: 12px 15px;
 margin-bottom: 20px;
 font-size: 0.95rem;
}

.btn-generate {
 background: black;
 border: none;
 color: white;
 font-weight: 700;
 padding: 16px;
 border-radius: 18px;
 transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.btn-generate:hover {
 transform: translateY(-3px);
 box-shadow: 0 10px 20px rgba(255, 255, 255, 0.3);
}

.qr-container {
 background: white;
 padding: 15px;
 display: inline-block;
 border-radius: 15px;
 margin-top: 30px;
}

.qr-container img {
 width: 160px;
 height: auto;
}

footer {
 position: fixed;
 bottom: 0;
 width: 100%;
 padding: 6px 0;
 background: rgba(0, 0, 0, 0.0);
 backdrop-filter: blur(2px);
}